.icons-container {
    opacity: 0;
    width: 100%;
    top: 110px;
    right: 5px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 25px;
    filter: invert(1) brightness(2);
    transition: opacity 0.3s ease;
    z-index: 1;
}

.album-content:hover .icons-container {
    opacity: 1;
}

.icon-1 {
    width: 25px;
    height: 25px;

}

.icon-2 {
    width: 55px;
    height: 55px;
}

.icon-2:hover {
    transform: scale(1.1);

}

.icon-3 {
    width: 25px;
    width: 25px;
}


@media (min-width: 490px) and (max-width: 620px) {
    .icons-container {
        top: 75px;
    }
}

@media (min-width: 620px) and (max-width: 1200px) {
    .icons-container {
        top: 90px;
    }
}